<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/png" href="//come-future.oss-cn-beijing.aliyuncs.com/check-in/logo.png" rel="shortcut icon">
    <title>天台医共体智慧云平台</title>
    <link rel="stylesheet" href="//come-future.oss-cn-beijing.aliyuncs.com/check-in/index.css">
  </head>
  <body>
    <div class="main" id="main">
      <div class="mask"></div>
      <div class="container" id="container">
        <div class="check-in-title">
          <img src="https://come-future.oss-cn-beijing.aliyuncs.com/check-in/title.png"/>
        </div>
        <div class="check-in-sub-title">
          <img src="https://come-future.oss-cn-beijing.aliyuncs.com/check-in/sub-title.png"/>
        </div>
        <div class="check-in-date">
          <span>2020/11/27</span>
        </div>
        <div class="slogan">
          <img src="https://come-future.oss-cn-beijing.aliyuncs.com/check-in/slogan.png"/>
        </div>
        <div id="scrollDownTips" class="scroll-down-tips">
          <div class="chevron"></div>
          <div class="chevron"></div>
          <div class="chevron"></div>
          <span class="text">
            下滑进行签到
          </span>
        </div>
        <div class="check-in-form">
          <div class="form-title">
            发布会签到表
          </div>
          <form id="checkedForm" method="POST" action="/create-record">
            <div class="form-item">
              <label>单位（必填）</label>
              <div class="error-tips">请填写单位</div>
              <input type="text" name="company" class="form-input"/>
            </div>
            <div class="form-item">
              <label>职务（必填）</label>
              <div class="error-tips">请填写职务</div>
              <input type="text" name="job" class="form-input"/>
            </div>
            <div class="form-item">
              <label>姓名（必填）</label>
              <div class="error-tips">请填写姓名</div>
              <input type="text" name="name" class="form-input"/>
            </div>
            <div class="form-item">
              <label>电话（必填）</label>
              <div class="error-tips">请填写正确的联系电话</div>
              <input type="text" name="mobile" class="form-input"/>
            </div>
            <div class="form-item">
              <label>祝语</label>
              <textarea type="text" name="congratulation" rows="2" class="form-input"></textarea>
            </div>
          </form>
          <div id="submitBtn">
            提交
          </div>
        </div>
      </div>
    </div>
    <div id="checkedDialog" class="checked-tips-dialog">
      <div class="dialog">
        <div class="checked-title">签到成功 !</div>
        <div class="checked-sub-title">感谢您此次来访</div>
      </div>
      <div id="closeLink" class="close-link">
        <i class="close-link-icon"></i>
      </div>
    </div>
    <script type="text/javascript" src="//come-future.oss-cn-beijing.aliyuncs.com/check-in/index.js"></script>
  </body>
</html>
